/* Variables */
$font-stack: Helvetica, sans-serif;
$primary-color: #ff0000;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-weight: 300;
}
label.gameOverForm {display: block}
.game, .btn-holder { text-align: center; margin: 1rem auto; }

.game-info { font-size: 1.0rem; color: #666; }
  .game-info span { margin-right: 1.4rem; }

  .play-button {
    width: 27.0rem;
    padding: 1.0rem;
    border: 1px solid #afafaf;
    background-image: linear-gradient(#e3e3e3, #f7f7f7);
  }
    .play-button:disabled {
      color: #2b2b2b;
      border: 1px solid #afafaf;
      background-image: linear-gradient(#e3e3e3, #f7f7f7);
    }

  .vxBtn {
    display: block;
    background-color: #fff;
    border: thin solid #ddd;
    color: $primary-color;
    width: 27.0rem;
    height: 4.3rem;
    margin: 0.5rem auto;
    font-size: 8px;
  }
  .vxBtnSel {
    display: block;
    background-color: rgb(207, 174, 174);
    border: thin solid #ddd;
    color: $primary-color;
    width: 27.0rem;
    height: 4.3rem;
    margin: 0.5rem auto;
    font-size: 8px;
  }
  .vxBtnRight {
    display: block;
    background-color: #9cb576;
    border: thin solid #ddd;
    color: $primary-color;
    width: 27.0rem;
    height: 4.3rem;
    margin: 0.5rem auto;
    font-size: 8px;
  }

  .vxBtn:focus, .vxBtn:active {
    outline: none;
    border: thin solid #ddd;
  }

  .timer {
    color: $primary-color;
    margin-top: 3px;
    margin-left: 3px;
  }
  .HOF-table {
    width: 98%;
    font-size: 0.85rem;
    margin: 0 auto;
    border-spacing: 0px;
  }
    .HOF-table th {font-size: 0.7rem;}
    .HOF-table .hd1 {width: 1.7rem; text-align: center; border-bottom: thin solid #ddd; padding: 0.3rem;}
    .HOF-table .hd2 {width: 2.7rem; text-align: center; border-bottom: thin solid #ddd; padding: 0.3rem;}
    .HOF-table .hd3 {width: 6.5rem; text-align: left; border-bottom: thin solid #ddd; padding: 0.3rem;}
    .HOF-table .hd4 {width: 6.5rem; text-align: left; border-bottom: thin solid #ddd; padding: 0.3rem;}
    .HOF-table .hd5 {width: 6.3rem; text-align: left; border-bottom: thin solid #ddd; padding: 0.3rem;}

    .HOF-table .col1 {width: 1.75rem; text-align: center; border-right: thin solid #ddd; border-bottom: thin solid #ddd; padding: 0.3rem;}
    .HOF-table .col2 {width: 3.1rem; text-align: center; border-right: thin solid #ddd; border-bottom: thin solid #ddd; padding: 0.3rem;}
    .HOF-table .col3 {width: 7.3em; text-align: left; border-right: thin solid #ddd; border-bottom: thin solid #ddd; padding: 0.3rem;}
    .HOF-table .col4 {width: 7.3rem; text-align: left; border-right: thin solid #ddd; border-bottom: thin solid #ddd; padding: 0.3rem;}
    .HOF-table .col5 {width: 6.0rem; text-align: left; border-bottom: thin solid #ddd; padding: 0.3rem;}

    .HOF-highlight {font-weight: bold; }
    .HOF-nameloc {font-weight: bold; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 7.3rem; display: block; }
    .HOF-regname {overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 7.3rem; display: block; }

  .scrollbox {
    overflow-y: auto;
    overflow-x: hidden;
    height: 36rem;
    width: 98%;
    margin: 0 auto;
  }
