/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');


/* Global Styles */
body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.4em;
  background: radial-gradient(#274c7a, #1a314d 76%);
  min-width: 24rem;
  max-width: 32rem;
  margin: 0 auto;
  width: 32.0rem;
}
div, h1, button, span {margin: 0; padding: 0;}
.bold {font-weight: 900;}
.toUpper {text-transform: uppercase;}

/* ////////////////// TOP LOGO LINE ////////////////// */
.game {width: 32.0rem; margin: 1.0rem auto;}
    .topLine {width: 32.0rem; margin: 0 0 -0.4rem 0; }
      .topLine h1 {font-size: 4.5rem; letter-spacing: -0.6rem; color: #1286d7; text-shadow: 0px 0px 6px #707055; font-weight: 900; display: inline-block;}
      .name1 {animation: flicker 2.0s infinite;}
      .name2 {animation: flicker 2.4s infinite;}
      .name3 {animation: flicker 2.8s infinite;}
      .name4 {animation: flicker 3.2s infinite;}
      .name5 {animation: flicker 2.7s infinite;}
      .name6 {animation: flicker 2.4s infinite;}
      .earLogo {width: 3.8rem; height: 4.1rem; position: relative; display: inline-block; margin: 0 0.4rem 0 -0.3rem;}
        .earLogo img {position: absolute;}
        .logo-dot {top: 3.20rem; left: 0.78rem; width: 1.18rem; animation: flicker 3.6s infinite;}
        .logo-outer {top: 0.32rem; left: 0.52rem; width: 2.74rem; animation: flicker 3.6s infinite;}
        .logo-inner1 {top: 1.56rem; left: 0.78rem; width: 0.96rem; animation: flicker2 1.8s infinite;}
        .logo-inner2 {top: 1.20rem; left: 1.04rem; width: 1.08rem; animation: flicker2 2.4s infinite;}
        .logo-inner3 {top: 0.80rem; left: 1.32rem; width: 1.32rem; animation: flicker2 3.0s infinite;}
        @keyframes flicker {
          0%   {opacity: 1.0;}
          50%  {opacity: 0.80;}
          100% {opacity: 1.0;}
        }
        @keyframes flicker2 {
          0%   {opacity: 1.0;}
          50%  {opacity: 0.50;}
          100% {opacity: 1.0;}
        }
      .voiceCount {
        letter-spacing: 0.06rem;
        color: #1286d7;
        font-weight: 900;
        margin: 0 0 -0.4rem 1.2rem;
        line-height: 1.2rem;
        text-shadow: 0px 0px 2px #707055;
        display: inline-block;
        text-align: center;
      }
      .voiceNum {font-size: 1.4rem; animation: flicker 3.4s infinite;}
      .voiceTxt {font-size: 0.9rem; animation: flicker 2.9s infinite;}
      .bottomLinks {width: 31rem; margin: 0.9rem auto; height: 3rem;}
        .links {float: left;}
          .links a {font-size: 1.3rem; margin-right: 1.9rem; font-family: 'Nunito', sans-serif; color: #00aeff; text-decoration: none; letter-spacing: 0.02rem;}
        .copy {float: right; color: #2c61bf; font-family: 'Nunito', sans-serif;}

  /* ///////////////////// GAME CONTAINER STYLES ////////////////// */
  .topContainer {
    background-color: #d4eaf9;
    border: 9px solid #1286d7;
    border-radius: 21px;
    margin: 0;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 30.8rem;
    color: #1a314d;
    background-image: url(https://whovox.com/imgs/bg-boxes.png);
    box-shadow: 0px 0px 8px 0px #333 inset;
    min-height: 32rem;
  }

/* ////////////////// GAME INFO STYLES /////////////////// */
.gameInfo {text-align: center;}
.gameInfo h2#tmplMsg {font-weight: 900; font-size: 1.9rem; color: #2c61bf; margin: 0.8rem 0 0.8rem 0; text-shadow: 1px 1px 3px #aaa;}
h2#tmplMsg.errorMsg {color: #ff0000;}
.save-button {
  width: auto;
  text-align: center;
  padding: 0.3rem;
  margin: 0 0.3rem 0 0;
  color: #fbfb45;
  border: 2px solid #00aeff;
  border-radius: 7px;
  background-image: linear-gradient(#2c61bf, #1a314d);
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  box-shadow: 2px 2px 3px #aaa;
  cursor: pointer;
}
.save-button:hover {background-image: linear-gradient(#1a314d, #2c61bf); box-shadow: 2px 2px 3px #777; border: 2px solid #80aaf4;}
.save-button:focus {outline: none; }
.save-button:active {outline: none; background: #1a314d;}
input[type=text] {border: 2px solid #2c61bf; padding: 0.4rem; margin-right: 0.4rem; font-family: 'Nunito', sans-serif; font-weight: 700; font-size: 1.1rem; border-radius: 4px; width: 14rem;}
#tmplSrch {margin: 0.8rem auto;}
.tmplPlayer {height: 3.8rem;}

/* ////////////////// START BUTTON STYLES /////////////////// */
.play-button-container {
  position: relative;
}
  .click-play {
    background-color: #fffca8;
    padding: 0.2rem;
    border: 3px solid #ff9c00;
    border-radius: 12px;
    margin: 0;
    width: auto;
    color: #1a314d;
    box-shadow: 1px 1px 4px#777;
    text-align: center;
    font-weight: 900;
    font-size: 0.92rem;
    line-height: 1rem;
    position: absolute;
    z-index: 9999;
    opacity: 0.0;
  }
    .box1 {
      top: -0.8rem;
      left: -1.5rem;
      animation: pulse1 2s ease-in alternate infinite;
      animation-delay: 1s;
    }
    .box2 {
      top: -0.8rem;
      right: -1.5rem;
      animation: pulse1 2s ease-in alternate infinite;
      animation-delay: 3s;
    }
    .box3 {
      bottom: -0.8rem;
      right: -1.5rem;
      animation: pulse1 2s ease-in alternate infinite;
      animation-delay: 5s;
    }
    .box4 {
      bottom: -0.8rem;
      left: -1.5rem;
      animation: pulse1 2s ease-in alternate infinite;
      animation-delay: 7s;
    }
    @keyframes pulse1 {
      0% {opacity: 0.0;}
      25% {opacity: 0.4;}
      50% {opacity: 0.9;}
      75% {opacity: 0.9;}
      100% {opacity: 0.9;}
    }
  .play-button {
    width: 33.2rem;
    padding: 0.3rem 0.5rem;
    margin: 0 0 0.0rem -1.2rem;
    color: #fbfb45;
    border: 10px solid #00aeff;
    border-radius: 16px;
    background-image: linear-gradient(#2c61bf, #1a314d);
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 1.9rem;
    letter-spacing: 0.20rem;
    box-shadow: 0px 3px 8px #444;
    text-shadow: 2px 2px 0px #000;
    cursor: pointer;
  }
  .play-button:hover {background-image: linear-gradient(#1a314d, #2c61bf);}
  .play-button:disabled {color: #fbfb45; border: 10px solid #00aeff; background-image: linear-gradient(#2c61bf, #1a314d); cursor: default;}
    .play-button:focus, .play-button:active {outline: none; border: 10px solid #00aeff;}
    .btnOrange {color: #ff9c00; text-shadow: 2px 2px 0px #000;}

/* ////////////////// VOICE BUTTON STYLES /////////////////// */
  .vxBtn {display: block; position: relative; border-radius: 6px; text-align: left; margin: 0.0rem auto 0.26rem auto; width: 29.4rem; height: 72px;}
  .ansName {
    display: block;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: 0.06rem;
    margin-top: 1.7rem;
  }
  .vxBtn {background-image: linear-gradient(#d4eaf9, #bcd8ec); border: 1px solid #80aaf4; cursor: pointer;}
    .vxBtn .ansName {color: #274c7a; text-shadow: 1px 1px 2px #bbb;}
  .ansQ {font-size: 1.8rem; margin: 1.0rem 0 0 0; font-family: 'Nunito', sans-serif; font-weight: 900; color: #1286d7; letter-spacing: 0.04rem; display: block;}
  .ansPic {float: left; margin: 0.0rem 0.8rem -0.21rem 0.0rem;}
    .ansPic img {border-radius: 7% 0% 0% 7%; border-right: 1px solid #80aaf4; width: 72px; height: 72px;}
  .ansWhosThis {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    background-color: #fffca8;
    padding: 0.0rem 0.3rem;
    border-radius: 4px;
    border: 1px solid #9fb1bf;
    box-shadow: 0px 0px 2px #999;
  }
    .ansWhosThis a {text-decoration: none; color: #4747cc; text-shadow: 0px 0px 1px #aaa; letter-spacing: 0.02rem; font-family: 'Nunito', sans-serif; font-weight: 900; font-size: 0.7rem; line-height: 0.7rem;}
    .ansWhosThis a:hover {text-decoration: underline;}
  .tmplCategory {position: absolute; top: 0px; left: 80px; font-weight: 700; font-size: 0.8rem; letter-spacing: 0.02rem; text-shadow: 2px 2px 4px #aaa;}
  .voiceText {margin: 1.0rem; font-size: 1.1rem; line-height: 1.7rem;}
    #wikiTxt {margin-top: 1.0rem;}
    #wikiImg {float: right; margin: 0 0 1.0rem 1.0rem; border: 1px solid #aaa; border-radius: 4px; box-shadow: 1px 1px 2px #999;}


/* ################################################ */
/* ################################################ */
/* ########## MOBILE 320 X 480 PORTRAIT ########## */
/* ################################################ */
/* ################################################ */

@media only screen
and (min-device-width: 0.1rem)
and (max-device-width: 30rem)
and (orientation: portrait) {

  /* Global Styles */
  body {width: 100vw; margin: 0 auto;}

  /* ////////////////// TOP LOGO LINE ////////////////// */
  .game {width: 96vw; margin: 1.0rem auto;}
      .topLine {width: 99vw;}
        .topLine h1 {font-size: 3.8rem; letter-spacing: -0.4rem;}
        .earLogo {width: 3.8rem; height: 4.1rem; margin: 0 0.4rem 0 -0.3rem;}
        .voiceCount {margin: 0 0 0.8rem 2.7rem; line-height: 1.4rem;}
        .voiceNum {font-size: 1.5rem;}
        .voiceTxt {font-size: 1.2rem;}
        .bottomLinks {width: 94vw; padding: 0.9rem 0.4rem; height: 3rem;}
        .links {float: left;}
          .links a {font-size: 1.6rem; margin-right: 1.6rem; font-family: 'Nunito', sans-serif; color: #00aeff; text-decoration: none; letter-spacing: 0.02rem;}
        .copy {float: right; color: #2c61bf; font-family: 'Nunito', sans-serif; font-size: 1.2rem; }

    /* ///////////////////// GAME CONTAINER STYLES ////////////////// */
    .topContainer {width: 88vw; padding: 0.3rem;}

  /* ////////////////// GAME INFO STYLES /////////////////// */
  .gameInfo h2#tmplMsg {font-weight: 900; font-size: 1.9rem; color: #2c61bf; margin: 0.8rem 0 0.8rem 0; text-shadow: 2px 2px 2px #ccc;}
  h2#tmplMsg.errorMsg {color: #ff0000; text-shadow: 2px 2px 3px #ccc;}
  .save-button {
    padding: 0.4rem;
    margin: 0 0.3rem 0 0;
    border-radius: 5px;
    font-size: 1.2rem;
    letter-spacing: 0.01rem;
  }
  input[type=text] {width: 11rem; padding: 0.4rem;}

  /* ////////////////// START BUTTON STYLES /////////////////// */
    .play-button {width: 95vw;}

  /* ////////////////// VOICE BUTTON STYLES /////////////////// */
    .vxBtn {width: 86vw;}
    .ansName {font-size: 1.55rem; letter-spacing: 0.06rem; margin-top: 1.9rem;}
    .ansQ {font-size: 1.5rem;}
    .tmplCategory {position: absolute; top: 0px; left: 80px; font-weight: 700; font-size: 1.1rem; letter-spacing: 0.02rem;}
    .voiceText {margin: 1.0rem; font-size: 1.6rem; line-height: 2.2rem;}
      #wikiTxt {margin-top: 1.0rem;}
	.ansWhosThis a {font-size: 1.0rem;}



/* ########## END PORTRAIT ########## */
}
